.dataTables_wrapper table thead {
    /*display:none;*/
}

.image {
	padding: 0;
	margin: 32px 0;
	background-color: #f5f5f5;
	border-radius: 2px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
	img {
		display: block;
		height: 120px;
		width: 100%;
		cursor:pointer;
		max-width: 100%;
	}
	.caption {
		padding: 16px 16px 6px 16px;
	}
}