.introduction {
	padding: $defaultMargin * 6;
	background-color:$bgBlue;
	h3 {
		color: white;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}

.dataset, .api {
	&:nth-of-type(2) {
		border:0;
	}
	i {
		color: $bgRed;
		font-size: 12px;
		padding: 5px;
	}
}