@mixin facets(){
	list-style:none;
	li {
		cursor:pointer;
		padding:$defaultMargin / 2;
		display:inline-block;
	}
}

@mixin metadata($labelColor, $linkColor) {
	padding:$defaultMargin * 2;
	label {
		color:$labelColor;
	}
	a {
		color:$linkColor;
	}
	color:$linkColor;
}

@mixin hyperlink($color, $hoverColor) {
	font-family:'akzidenz-grotesk-condensed', bebas_neueregular, Helvetica Neue, Arial, sans-serif;
	color:$color;
	&:hover {
		color:$hoverColor;
	}
}

@mixin borderedImage($width:null, $height:null) {
	margin:0px 0px 0px 0px;
	border: $defaultMargin solid $bgRed;
	text-align:center;
	img {
		max-width:100%;
		&:hover {
			opacity:0.25;
		}
		@if $width {
			width:$width;
		}
		@if $height {
			height:$height;
		}
	}
}
