{% include header.html %}
<br><br><br>
<div class="container">
	<div class="row">
		<div class="col-md-5">
			<div class="cardimage">
				<img src="{{ page.poster_image | relative_url }}" alt="" class="img-responsive">
			</div>
			<table class="table">
				<tbody>
					{% if page.project_id != nil %}
					<tr>
						<td style="white-space:nowrap">Related project</td>
						<td>
							{% assign projects = site.projects | where:"project_id", page.project_id %}
							<a id="project" href="{{ projects[0].url }}">{{ projects[0].title }}</a>
						</td>
					</tr>
					{% endif %}
					{% if page.status != nil %}
					<tr>
						<td>Status</td>
						<td>{{ page.status }}</td>
					</tr>
					{% endif %}
					{% if page.access != nil %}
					<tr>
						<td>Access</td>
						<td>{{ page.access }}</td>
					</tr>
					{% endif %}
					{% if page.requestauthentication[0].name != nil %}
					<tr>
						<td>Request authentication</td>
						<td>
							{% for person in page.requestauthentication %}
							<a href="mailto:{{ person.email }}">{{ person.name }}</a><br>
							{% endfor %}
						</td>
					</tr>
					{% endif %}
					{% if page.themes[0] != nil %}
					<tr>
						<td>Themes</td>
						<td>
							{% for theme in page.themes %}
							<a class="btn btn-xs btn-default">{{ theme }}</a>
							{% endfor %}
						</td>
					</tr>
					{% endif %}
					{% if page.tags[0] != nil %}
					<tr>
						<td>Main topics</td>
						<td>
							{% for tag in page.tags %}
							<a class="btn btn-xs btn-default">{{ tag }}</a>
							{% endfor %}
						</td>
					</tr>
					{% endif %}
					{% if page.contenttypes[0] != nil %}
					<tr>
						<td>Media type</td>
						<td>
							{% for type in page.contenttypes %}
							<a class="btn btn-xs btn-default">{{ type }}</a>
							{% endfor %}
						</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
			
			<p class="links" style="padding:8px;">
				{% if page.publications[0].title != nil %}
				<strong>Publications</strong><br>
				{% for post in page.publications %}
				<a href="{{ post.url }}">{{ post.title }}</a><br>
				{% endfor %}
				{% endif %}
				{% if page.blogposts[0].title != nil %}
				<br><br>
				<strong>Blogs</strong><br>
				{% for post in page.blogposts %}
				<a href="{{ post.url }}">{{ post.title }}</a><br>
				{% endfor %}
				{% endif %}
			</p>
		</div>
		<div class="col-md-6 col-md-offset-1">
			<h4 class="bengfont">{{ page.title | upcase }}</h4>
			{{ content }}
			<p class="links">
				{% if page.website_url %}
				<i class="fa fa-link"></i> <a href="{{ page.website_url }}">{{ page.website_url }}</a><br/>
				{% endif %}
				{% if page.github %}
				<i class="fa fa-github"></i> <a href="{{ page.github }}">{{ page.github }}</a><br/>
				{% endif %}
				{% if projects[0].url %}
				<i class="fa fa-cogs"></i><a id="project" href="{{ projects[0].url }}">{{ projects[0].title }}</a>
				{% endif %}
			</p>
		</div>
	</div>
</div>
{% include footer.html %}