{% include header.html %}
<div id="masthead">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-8 col-md-offset-2">
				<h1>Sound and Vision <b>LABS</b></h1>
				<h2>Come experiment with our applications, datasets and APIs</h2>
				<h3>Dig in!</h3>
			</div>
		</div>
	</div>
</div>
<div id="index" name="index" class="anchor"></div>
<section id="selection-area" class="container">
	<div class="text-center row">
		<div class="col-md-4 main-facet">
			<a href="{{ '/applications#index' | relative_url }}"{% if page.submenu == 'applications' %} class="active"{% endif %}>
				<i class="fa fa-diamond fa-5x"></i>
			</a>
			<h4 class="bengfont">APPLICATIONS</h4>
		</div>
		<div class="col-md-4 main-facet">
			<a href="{{ '/datasets#index' | relative_url }}"{% if page.submenu == 'datasets' %} class="active"{% endif %}>
				<i class="fa fa-cube fa-5x"></i>
			</a>
			<h4 class="bengfont">DATASETS</h4>
		</div>
		<div class="col-md-4 main-facet">
			<a href="{{ '/apis#index' | relative_url }}"{% if page.submenu == 'apis' %} class="active"{% endif %}>
				<i class="fa fa-rocket fa-5x"></i>
			</a>
			<h4 class="bengfont">APIS</h4>
		</div>
	</div>
	<section class="container main-topic">
		<br>
		<h4 class="text-center">{{ page.subtitle | upcase }}</h4>
		<div class="row">
			{% case page.submenu %}
		    {% when 'applications' %}
		    {% assign items = site.applications %}
		    {% when 'datasets' %}
		    {% assign items = site.datasets %}
		    {% when 'apis' %}
		    {% assign items = site.apis %}
		  {% endcase %}
			{% for item in items %}
			<div id="{{ item.id }}" class="col-sm-6 col-md-4 app">
				<div class="card">
					<a href="{{ item.url | relative_url }}"><img src="{{ item.thumb_image | relative_url }}"></a>
					<div class="caption">
						<h4 class="bengfont"><i class="fa fa-{{ page.icon }}"></i>&nbsp;{{ item.title }}</h4>
						<p>{{ item.description }}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</section>
</section>
<section id="institute">
	<div class="container">
		<div class="row text-center">
			<img src="{{ '/assets/images/beng-logo-en-small.png' | relative_url }}" alt="">
		</div>
		<div id="rights_statement">
			<a href="http://creativecommons.org/licenses/by/4.0/" target="_cc-by-sa">
				Some rights reserved&nbsp;
				<span class="ccbysa">cb</span>
			</a>
		</div>
	</div>
</section>
<section id="footer">
	<div class="container">
		<div class="row text-center">
			<a href="https://twitter.com/{{ site.twitter_username }}" title="Beeld en Geluid Labs" target="_twitter">
				<i class="fa fa-twitter"></i>
			</a>
			<a href="http://www.beeldengeluid.nl/en/blogs/Research-%26-Development-EN" title="Visit our blog" target="_blog">
				<i class="fa fa-globe"></i>
			</a>
		</div>
	</div>
</section>
{% include footer.html %}