{% include header.html %}
<br><br><br>
<div class="container">
	<div class="row">
		<div class="col-md-5">
			<div class="view project-icon">
				<i class="fa fa-institution fa-5x"></i>
			</div>
			<table class="table">
				<tbody>
					{% if page.website_url %}
					<tr>
						<td>URL</td>
						<td>
							<a href="{{ page.website_url }}">{{ page.website_url }}</a>
						</td>
					</tr>
					{% endif %}
					{% if page.partners[0] != nil %}
					<tr>
						<td nowrap="nowrap">Project partners</td>
						<td>
							{% for partner in page.partners %}
							<a class="btn btn-xs btn-default">{{ partner }}</a>
							{% endfor %}
						</td>
					</tr>
					{% endif %}
					{% if page.themes[0] != nil %}
					<tr>
						<td>Themes</td>
						<td>
							{% for theme in page.themes %}
							<a class="btn btn-xs btn-default">{{ theme }}</a>
							{% endfor %}
						</td>
					</tr>
					{% endif %}
					{% if page.tags[0] != nil %}
					<tr>
						<td>Main topics</td>
						<td>
							{% for tag in page.tags %}
							<a class="btn btn-xs btn-default">{{ tag }}</a>
							{% endfor %}
						</td>
					</tr>
					{% endif %}
					{% if page.contactpersons[0].name != nil %}
					<tr>
						<td nowrap="nowrap">Contact persons</td>
						<td>
							{% for person in page.contactpersons %}
							<a href="mailto:{{ person.email }}">{{ person.name }}</a><br>
							{% endfor %}
						</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
			<p class="links" style="padding:8px;">
				{% if page.publications[0].title != nil %}
				<strong>Publications</strong><br>
				{% for post in page.publications %}
				<a href="{{ post.url }}">{{ post.title }}</a><br>
				{% endfor %}
				{% endif %}
				{% if page.blogposts[0].title != nil %}
				<br><br>
				<strong>Blogs</strong><br>
				{% for post in page.blogposts %}
				<a href="{{ post.url }}">{{ post.title }}</a><br>
				{% endfor %}
				{% endif %}
			</p>
		</div>
		<div class="col-md-6 col-md-offset-1">
			<h4 class="bengfont">{{ page.title | upcase }}</h4>
			{{ page.content }}
			<p class="links">
				{% if page.website_url %}
				<i class="fa fa-link"></i> <a href="{{ page.website_url }}">{{ page.website_url }}</a><br/>
				{% endif %}
				{% if page.github %}
				<i class="fa fa-github"></i> <a href="{{ page.github }}">{{ page.github }}</a><br/>
				{% endif %}
				{% if page.info_url %}
				<i class="fa fa-info"></i> <a href="{{ page.info_url }}">{{ page.info_url }}</a><br/>
				{% endif %}
				{% if page.media_url %}
				<i class="fa fa-video-camera"></i> <a href="{{ page.media_url }}">{{ page.media_url }}</a><br/>
			{% endif %}
			</p>
		</div>
	</div>
</div>
{% include footer.html %}